@import "../breakpoints.scss";

.buttonCTA, .buttonCTA:hover {
  font-size: 18pt;
  color: #fff;
  background-color: #0f88f2;
  border-radius: 40px;
  padding: 10px 15px;
  cursor: pointer;
  @include respond-to($fromXXL) {
    font-size: 16pt;
    color: #fff;
    background-color: #0f88f2;
    border-radius: 40px;
    padding: 10px 28px;
  }
  @include respond-to($upToSM) {
    color: #fff;
    background-color: #0f88f2;
    border-radius: 40px;
    font-size: 15pt;
    padding: 8px 20px;
    text-align: center;
  }
}
